<header>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a id="navbar-banner" class="navbar-item has-left-margin-1" href="/">
                <img src="/assets/images/logo.png" alt="BreakTheLoop logo">
                &lt;Bre@kTheLoop/>
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar_menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu is-paddingless" id="navbar_menu">
            <div class="navbar-end">
                <a class="navbar-item" href="https://github.com/btl-gcetts">
                    <span class="icon is-size-4 is-medium"><i class="fab fa-github" aria-hidden="true"></i></span>
                    <span>&nbsp;GitHub</span>
                </a>
                <a class="navbar-item" href="https://www.youtube.com/channel/UC_ThPLtwthuBcEYm80-3TDw">
                    <span class="icon is-size-4 is-medium"><i class="fab fa-youtube" aria-hidden="true"></i></span>
                    <span>&nbsp;YouTube</span>
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <span class="navbar-link is-hidden-touch">
                        More
                    </span>
                    <span class="navbar-link is-arrowless is-hidden-desktop">
                        More
                    </span>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/resources/">
                            Resources
                        </a>
                        <a class="navbar-item" href="/events/">
                            Events
                        </a>
                        <a class="navbar-item" href="/pages/guides/pydis-guides/contributing/">
                            Contributing
                        </a>
                        <a class="navbar-item" href="/pages/frequently-asked-questions/">
                            FAQ
                        </a>
                        <a class="navbar-item" href="/pages/guides/">
                            Guides
                        </a>
                        <a class="navbar-item" href="/timeline/">
                            Timeline
                        </a>
                        <a class="navbar-item" href="/pages/rules/">
                            Rules
                        </a>
                        <a class="navbar-item" href="/pages/code-of-conduct/">
                            Code of Conduct
                        </a>
                        <a class="navbar-item" href="/pages/privacy/">
                            Privacy
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>