<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}
<!-- favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}"/>
<!-- bulma -->
<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
    integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"
    as="style" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
    integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<script defer type="text/javascript"
    src="{{ '/static/extensions/bulma-navbar-burger.js' | relative_url }}"></script>
<script defer type="text/javascript" 
src="{{ '/static/extensions/bulma-dropdown.js' | relative_url }}"></script>
<!-- fontawesome -->
<link rel="preload" href="https://kit.fontawesome.com/d7b9dc4a33.js" crossorigin="anonymous" as="script">
<script defer src="https://kit.fontawesome.com/d7b9dc4a33.js" crossorigin="anonymous"></script>
<!-- preloads -->
<link rel="preload" href="{{ '/assets/images/logo.png' | relative_url }}" as="image">
{% if page.preloads %}
    {% for as_h in page.preloads %}
    {% for asset in as_h[1] %}
        {% if as_h[0] == "gd-image" %}
        <link rel="preload" href="{{ 'https://drive.google.com/uc?id=' |append: asset }}" as="image">
        {% else %}
        <link rel="preload" href="{{ asset }}" as="{{ as_h[0] }}">
        {% endif %}
    {% endfor %}
    {% endfor %}
{% endif %}
