<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}
<!-- favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}"/>
<!-- bulma -->
<link rel="preload" href="{{ '/static/css/bulma.css' | relative_url }}" as="style">
<link rel="stylesheet" href="{{ '/static/css/bulma.css' | relative_url }}">
<script defer="" type="text/javascript"
    src="/static/extensions/bulma-navbar-burger.js"></script>
<script defer="" type="text/javascript" 
src="/static/extensions/bulma-dropdown.js"></script>