<header>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a id="navbar-banner" class="navbar-item has-left-margin-1" href="{{ '/' | relative_url }}">
                <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="BreakTheLoop logo">
                &lt;Bre@kTheLoop/>
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar_menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu is-paddingless" id="navbar_menu">
            <div class="navbar-end">
                <a class="navbar-item" href="{{ '/events/' | relative_url }}">
                    <span class="icon is-size-4 is-medium"><i class="fa-solid fa-calendar-check" aria-hidden="true"></i></span>
                    <span>&nbsp;Events</span>
                </a>
                <a class="navbar-item" 
                    href="https://github.com/btl-gcetts"
                    target="_blank">
                    <span class="icon is-size-4 is-medium"><i class="fab fa-github" aria-hidden="true"></i></span>
                    <span>&nbsp;GitHub</span>
                </a>
                <a class="navbar-item" 
                    href="https://www.youtube.com/channel/UC_ThPLtwthuBcEYm80-3TDw"
                    target="_blank">
                    <span class="icon is-size-4 is-medium"><i class="fab fa-youtube" aria-hidden="true"></i></span>
                    <span>&nbsp;YouTube</span>
                </a>
                <a class="navbar-item" href="{{ '/join' | relative_url }}">
                    <span class="icon is-size-4 is-medium"><i class="fa-solid fa-hat-cowboy" aria-hidden="true"></i></span>
                    <span>&nbsp;Join The BeeTLes</span>
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <span class="navbar-link is-hidden-touch">
                        More
                    </span>
                    <span class="navbar-link is-arrowless is-hidden-desktop">
                        More
                    </span>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{{ '/resources' | relative_url }}">
                            Resources
                        </a>
                        <a class="navbar-item" href="{{ '/web/contribute' | relative_url }}">
                            Contribute
                        </a>
                        <a class="navbar-item" href="{{ '/web/frequently-asked-questions' | relative_url }}">
                            FAQ
                        </a>
                        <a class="navbar-item" href="{{ '/timeline' | relative_url }}">
                            Timeline
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
